/*Framework v1.01 ewacs 2025-04-03 */
    /* montserrat-regular - latin */
    @font-face {
      font-display: swap;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); 
    }
    /* montserrat-italic - latin */
    @font-face {
      font-display: swap; 
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 400;
      src: url('../fonts/montserrat-v29-latin-italic.woff2') format('woff2'); 
    }
    /* montserrat-700 - latin */
    @font-face {
      font-display: swap; 
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      src: url('../fonts/montserrat-v29-latin-700.woff2') format('woff2'); 
    }

    html, body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevents horizontal scrolling */
        background-color: #FFFFF0;
    }

    header {
        background-color: #FFFFF0;
        color: #000000;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        margin-left: 20px;
    }

    header .strapline {
        margin-left: -100px;
    }

    header .mobile-strapline {
        display: none;
    }

    header .instagram-icon {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }


    nav {
        display: flex;
        justify-content: center;
        background-color:lightblue;
        padding: 10px;
    }
    nav a {
        color: #000000;
        padding: 0 15px;
        text-decoration: none;
        font-weight: bold;
    }
    nav a:hover {
        background-color: #FFFF00;
    }        

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        gap: 20px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        position: relative; /* Needed for absolute positioning */
        width: 100%; /* Ensure the container takes up the intended space */
        max-width: 1600px; /* Prevent it from getting too large on big screens */
    }

    .hero-image::before {
        content: "";
        display: block;
        width: 100%; /* Ensures it stretches to container width */
        padding-top: 25%; /* 4:1 aspect ratio */
        background: #FFD760; /* Placeholder color */
    }

    .hero-image img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }        
    
    .intro-text {      
        width: 80vw; /* Set a maximum width for the text */
        max-width: 768px; /* Set a maximum width for the centered box */
        text-align: left;
        background: white;
        padding: 20px;
        box-sizing: border-box;
    }

    .intro-title h2, h3, h4, h5 {
        transform: translateX(-3%); 
    }

    .intro-icon-container {
        display: flex;
        justify-content: center;
        margin-top: -10px; /* Reduce space above the icon */
    }

    .intro-icon {
        width: 50px;
        height: 50px;
        display: none;
    }

/* Multi column */   
    .feature-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; /* main axis = horizontal */
      align-items: center ;
      gap: 20px;
      padding: 20px;
    }

    .feature-item {
      flex: 1 1 calc(33.33% - 20px);
      max-width: 600px;
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box; /* Ensure padding is included in width */
    }
 
    .feature-item img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

/*end Multi column */

/*Single contact Column */
    .container-contact {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        padding: 20px;
    }

    .item-contact {
        width: 80vw; 
        max-width: 768px; /* Keeps sections from being too wide */
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        box-sizing: border-box; /* Ensure padding is included in width */
    }

/*End Single contact column*/


    h2, h3, h4, h5 {
        text-align: center;
    }

    .larger-text {
      font-size: 1.2em; /* Adjust the size as needed */
    }


    footer {
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        align-items: center; /* Center items horizontally */
        gap: 20px;
    }
    
    footer .item-footer {
        width: 80vw;
        color: black;
        text-align: center;
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
    }
    button[type="submit"] {
        background-color: #666;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 25px;
        margin-top:20px;
    }
    button[type="submit"]:hover {
        background-color: #333;
    }
    label.required:after {
        content: " *";
        color: red;
    }
    .red-asterisk::before {
        content: "* ";
        color: red;
    }

    .cf-turnstile {
        max-width: 100%; 
        overflow: hidden;
        display: block;
    }


    @media (max-width: 900px) {

        .feature-container {
            display: flex;
            flex-direction: column;
            align-items: center;
         }

        .feature-item {
            width: 90%; /* Adjust width to ensure it is properly centered */
            max-width: 600px;
        }             

        .larger-text {
          font-size: 1.1em; /* Adjust the size as needed */
        }         
    } 

    @media (max-width: 768px) {
        .larger-text {
            font-size: 1.0em; /* Adjust the size as needed */
        }

        header {
            flex-direction: column;
            text-align: center;
            justify-content: center;
         }

        header .mobile-strapline {
            display: block; /* Show on mobile */
            padding-left: 30px;
        }

        header .strapline {
            display: none; /* Hide on mobile */
        }

        header .instagram-icon  {
            display: none; /* Hide on mobile */
        }            

        .intro-title {
           font-size: 0.7em;   /* Change font size  on mobile */
        }            
        
        .intro-icon {
            display: block; /* Display on mobile */
            padding:20px;
        }

    }  
